@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --firstBgC: #48064C;
    --secondBgC: #2C042F;
    --listBgC: #0F6CB3;
    --warnColor: #950000;
    --black50: #808080;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    background-color: var(--firstBgC);
    padding: 0;
    margin: 0;
}

body > * {
    font-size: 1.2rem;
    padding: 0 1rem;
}